---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Know about me"
  pubDate={new Date()}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Hey there! I'm Pritam, a passionate web developer on a journey to explore
    the exciting world of open source. My love with web development started I
    stumbled upon my first HTML tag - and from that moment, I was hooked. The
    power to create and shape digital experiences ignite a fire within me that
    continuous to burn brightly.
  </p>
  <p>
    My journey into web development hasn't been a linear one. From those early
    days of experimenting with basic websites, I've delved into the depth of CSS
    wizardry, navigated the maze of Javascript framework, and even dipped my
    toes into the ocen of backend technologies. But what truely sets my heart
    racing is the open source community.
  </p>
  <p>
    The sprit of collaboration and the boundless potential of open source
    project have captured my imagination. I've had the incredible opportunity to
    contribute to projects that spans from simplifying UI components to
    trackling complex backend challenges. Each line of code is a step forword, a
    lesson learned, and a chance to make the the digital landscape a little bit
    better.
  </p>
  <p>
    This blog is my way of sharing the triumphs and tribulations of my journey.
    I'll be offering insights into the latest trends, breaking doun complex
    topics into bite-sized peices, and maybe even tossing in a few tales from
    the trenches. I believe that learning is a lifelong adventure, and I'm
    excited to have you join me as I navigate the ever-evolving world of web
    development and open source.
  </p>
  <p>
    So buckle up, fellow explorer! Together, let's unravel the mysteries of the
    web development and unleash the power of open source. Whether you're a
    seasoned developer or just taking your first step into the realm of code,
    there's a place for you here.
  </p>
</Layout>
