---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<style>
  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  .heading {
    color: #4d5bf8;
  }
  .img {
    width: 450px;
  }
  .sections {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 110px;
  }
  .cover {
    font-size: 24px;
    color: #4d5bf8;
  }
  @media (max-width: 950px) {
    main {
      flex-direction: column;
    }
    .sections {
      padding: 5px 40px;
    }
  }
  @media (max-width: 500px) {
    .img {
      width: 300px;
    }
    .heading {
      font-size: 35px;
    }
    .sections {
      padding: 5px 30px;
    }
  }
</style>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="img">
        <img src="/hero.png" alt="hero image" />
      </div>
      <div class="content">
        <h1 class="heading">Welcome to my blog.</h1>
        <p>
          This page is all about data structures and algorithm, web development
          and open source.
        </p>
      </div>
    </main>
    <div class="sections">
      <section>
        <p class="cover">Key Topics I Cover:</p>
        <ul>
          <li>
            Unveiling the world of open source software and collaboration.
          </li>
          <li>
            Creating stunning web experiences through latest web technologies.
          </li>
          <li>Mastering data structures and algorithms.</li>
        </ul>
      </section>
    </div>
    <Footer />
  </body>
</html>
