---
const today = new Date();
---

<footer>
  <form class="form">
    <p class="loop">Stay in loop</p>
    <div>
      <p>Enter your name:</p>
      <input class="input1" type="text" required placeholder="Your name..." />
    </div>
    <div>
      <p>Enter your email:</p>
      <input class="input2" type="email" required placeholder="Your mail..." />
    </div>
    <div class="button-surrounder">
      <button type="submit" class="submit">Enter</button>
    </div>
  </form>
  &copy; {today.getFullYear()} CodeRealm. All rights reserved.
  <div class="social-links">
    <a href="https://twitter.com/Pritam_1296" target="_blank">
      <span class="sr-only">Follow me on Twitter</span>
      <svg
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/twitter"
        ><path
          fill="currentColor"
          d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
        ></path></svg
      >
    </a>
    <a href="https://www.linkedin.com/in/pritam-roy-9b28a8250" target="_blank">
      <span class="sr-only">Go me on linkedin</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32px"
        height="32px"
        viewBox="0 0 448 512"
      >
        <path
          fill="currentColor"
          d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
        ></path></svg
      >
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
  .input1,
  .input2 {
    border: 0;
    background-color: rgb(182, 198, 213);
    border-radius: 5px;
    height: 22px;
  }
  .input1:focus,
  .input2:focus {
    outline: 0;
  }
  .input1::placeholder,
  .input2::placeholder {
    color: blueviolet;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .submit {
    padding: 10px;
    border-radius: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: white;
    border: 0;
    background-color: blueviolet;
  }
  .form {
    padding-bottom: 10px;
  }
  .button-surrounder {
    padding: 15px;
  }
  .loop {
    font-size: 50px;
    font-weight: 700;
  }
</style>

<script>
  const form = document.querySelector(".form") as HTMLFormElement;
  const formButton = document.querySelector(".submit") as HTMLButtonElement;
  const input1 = document.querySelector(".input1") as HTMLInputElement;
  const input2 = document.querySelector(".input2") as HTMLInputElement;

  form?.addEventListener("submit", (e) => {
    e.preventDefault();

    const input1Val = input1?.value;
    const input2Val = input2?.value;

    sendDataToDatabase(input1Val, input2Val);

    (document.querySelector(".input1") as HTMLInputElement).value = "";
    (document.querySelector(".input2") as HTMLInputElement).value = "";
  });

  const sendDataToDatabase = (value1: string, value2: string) => {
    fetch("/database-endpoint", {
      method: "POST",
      headers: {
        "Content-type": "application/json",
      },
      body: JSON.stringify({ feild1: value1, feild2: value2 }),
    })
      .then((res) => {
        if (res.ok) {
          console.log("Data send");
        } else {
          console.log("Error on sending data");
        }
      })
      .catch((err) => {
        console.error(err);
      });
  };

  formButton?.addEventListener("click", () => {
    if (input1?.value != "" && input2?.value != "") {
      formButton.innerText = "Done";

      setTimeout(() => {
        formButton.innerText = "Enter";
      }, 2000);
    }
  });
</script>
